<h1>Search for release date of your Game</h1>

<form action='/search/gameresults' method='GET'>
<input type='text' name='name' placeholder='Enter game name'>
<button>Search</button>
<end>

<% @games.each do |game| %>
	<p><%=game["name"]%></p>
	<img src='<%=game["image"]["small_url"]%>'>
<% end %>