<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title> New User </title>
</head>
<body>
</br><div class = "login_form">
  <h1> Sign up below! </h1>

  <%= form_tag("/users", method: "POST", class: "pure-form") do %>
      <%= email_field_tag :email, "Email" %>
      <%= password_field_tag :password, "Password" %>
      <%= submit_tag "Create account" %>
    <% end %>
  </div>
</body>
</html>