<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>

    
</head>
<body>
<div class="splash-container">
    <div class="splash">
        <img src="memento.jpg">
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Reasons for existing</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-film"></i>
                    Movies
                </h3>
                <p>
                    Get release dates and a short bio describing the plot. Distance to closest theather (coming soon).
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-bicycle"></i>
                    Sports
                </h3>
                <p>
                    Find out when the Jets or Yankees are playing next. Something Something Mets. Also , distance coming soon.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-music"></i>
                    Music
                </h3>
                <p>
                    Lots of cool stuff happening in New York. Tame impala, alabama shakes, Modest Mouse are playing.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-gamepad"></i>
                    Video-Games
                </h3>
                <p>
                    Halo 5 , Fallout 4 , and Metal Gear solid 5 all in the same year. Take my money.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <i class="fa fa-list fa-5x"></i>
            <i class="fa fa-calendar fa-5x"></i>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">List or Calendar view.</h2>

            <p>
               Choose between a List or Calendar view. Get helpful informatoin such as days left, start time, location, and description. Visual cues to indicate type, show date order etc.
            </p>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <i class="fa fa-list fa-5x"></i>
            <i class="fa fa-calendar fa-5x"></i>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Automatic Gmail Updates or Text SMS</h2>

            <p>
               Login-in with your google account and choose to recieve an email update. Or if your avoiding your email like the black plague, you can also get a txt SMS update.
            </p>
        </div>
    </div>

        <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <i class="fa fa-list fa-5x"></i>
            <i class="fa fa-calendar fa-5x"></i>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">List or Calendar view.</h2>

            <p>
               Choose between a List or Calendar view. Get helpful informatoin such as days left, start time, location, and description. Visual cues to indicate type, show date order etc.
            </p>
        </div>
    </div>


    <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        Project Three made by David Yoon, Neil Gerwitz , Swapnil Kasliwal, Thompson.
    </div>

</div>


</body>
</html>
