<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Memento</title>
</head>
<body>

  <h1> Welcome to Memento. </h1>

  <a href="/sessions/new"> Login </a>

  <a href="/users/new"> Sign up! </a>
</body>
</html>