<!DOCTYPE html>
<html>
<head>
  <title> Memento </title>

<link rel="stylesheet" href="pure-min.css">
<link rel="stylesheet" href="index.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<link rel="stylesheet" href="grids-responsive-min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Memento</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item">Search</li>
            <li class="pure-menu-item pure-menu-selected"><a href="/search/nfl" class="pure-menu-link">NFL</a></li>
            <li class="pure-menu-item pure-menu-selected"><a href="/search/mlb" class="pure-menu-link">MLB</a></li>
            <li class="pure-menu-item pure-menu-selected"><a href="/search/game" class="pure-menu-link">Video Games</a></li>  

            <li class="pure-menu-item"><a href="/sessions/new" class="pure-menu-link">Log In</a></li>

        </ul>
    </div>
	</div></br></br>


<%= yield %>

</body>
</html>
